<div class="layout-container">
  <button class="mobile-menu-button" (click)="toggleMenu()" *ngIf="!isMenuOpen" mat-icon-button>
    <mat-icon>menu</mat-icon>
  </button>
  <div class="menu-overlay" [class.active]="isMenuOpen" (click)="toggleMenu()"></div>

  <div class="sidebar" [class.open]="isMenuOpen">
    <div class="sidebar-header">
      <h3 (click)="navigateToDashboard()" class="logo-title">FlowCalendar</h3>
      <button class="menu-toggle" (click)="toggleMenu()" mat-icon-button>
        <mat-icon>close</mat-icon>
      </button>
    </div>
    <nav class="sidebar-menu">
      <a *ngFor="let item of menuItems" 
         [routerLink]="item.route" 
         routerLinkActive="active"
         [class.active]="isActive(item.route)"
         (click)="closeMenuOnMobile()">
        <mat-icon>{{item.icon}}</mat-icon>
        <span>{{ item.name }}</span>
      </a>
    </nav>
  </div>
  
  <div class="main-content" [class.menu-open]="isMenuOpen">
    <router-outlet></router-outlet>
  </div>
</div>